#=============================================
# Keil MDK 编译生成文件、本地临时配置
#=============================================
*.uvoptx
*.uvopt
*.bak
*.dep
*.crf
*.o
*.d
*.lnp
*.axf
*.hex
*.elf
*.map
*.scvd
*.sct
*.i
*.lst
*.htm

# 编译输出 Objects / Listings 文件夹
Objects/
Listings/

# 调试本地记录
*.dbgconf
*.dbg

#=============================================
# Windows系统文件
#=============================================
Thumbs.db
.DS_Store
__pycache__/

#=============================================
# 本项目：固件输出文件夹（不提交编译生成hex）
#=============================================
firmware_output/

#=============================================
# test_data测试截图日志：可选，如果你想把测试截图纳入版本管理，注释掉下面一行
#=============================================
# test_data/

#=============================================
# 保留源码、md文档，不要忽略下面这些！
# 【不要删除】*.c *.h *.md 这些是需要提交的
#=============================================
!*.c
!*.h
!*.md
!*.uvprojx
